@value colorLightGrey, colorPlaceholder, colorFocus, colorAuthButton, colorWhite, colorTest, colorGoogle from "common/colors.css";
@value smallMargin, mediumMargin, microMargin, smallFontSize, mediumFontSize from "common/size.css";

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputWrap {
  width: 60%;
  position: relative;
  margin: smallMargin 0;
}

.icon {
  position: absolute;
  top: calc(smallMargin * 1.2);
  left: calc(smallMargin * -2.5);
  font-size: mediumFontSize;
  transition: all 200ms ease;
}

.inputWrap > input {
  background: transparent;
  border: none;
  border-bottom: 1px solid colorLightGrey;
  padding: calc(smallMargin * 1.2) 0 calc(smallMargin * 0.3) 0;
  font-size: smallFontSize;
  width: 100%;
}

.input::placeholder {
  color: transparent;
}

.input:placeholder-shown + .label {
  color: colorPlaceholder;
  font-size: calc(smallFontSize * 1.1);
  top: calc(smallMargin * 1.2);
  transition: all 200ms ease;
}

.input:focus {
  border-bottom: solid 2px colorFocus;
  outline: none;
}

.input:focus + .label {
  color: colorFocus;
}

.input:focus + .label,
.label {
  font-size: calc(smallFontSize * 0.8);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.input:focus ~ .icon {
  color: colorFocus;
}

.checkMessage {
  font-size: calc(smallFontSize * 0.9);
  font-weight: bold;
  color: colorFocus;
  position: absolute;
  margin-bottom: microMargin;
}

.disabledMessage {
  display: none;
}

.button {
  width: 60%;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-top: mediumMargin;
  padding: microMargin;
  border-radius: microMargin;
  background-color: colorAuthButton;
  color: colorWhite;
}

.button:hover {
  opacity: 0.8;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.join {
  margin-top: smallMargin;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.join__item {
  margin-left: smallMargin;
  font-size: smallFontSize;
  color: colorPlaceholder;
  cursor: pointer;
}

.join__item:hover {
  color: colorFocus;
}

.sns {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: mediumMargin;
}

.sns__line {
  width: 100%;
  height: 0.1px;
  background-color: colorPlaceholder;
}

.sns__text {
  padding: 0 microMargin;
  font-size: calc(smallFontSize * 0.8);
  white-space: nowrap;
  color: colorPlaceholder;
}

.etc {
  width: 60%;
  margin-top: microMargin;
  display: flex;
  flex-direction: column;
}

.etc__login {
  width: 100%;
  padding: microMargin;
  border: 0;
  outline: 0;
  margin-bottom: microMargin;
  position: relative;
  border-radius: microMargin;
  cursor: pointer;
}

.etc__login:hover {
  opacity: 0.8;
}

.etc__google {
  background-color: colorGoogle;
}

.etc__test {
  background-color: colorTest;
}

.etc__icon {
  color: colorWhite;
  font-size: calc(smallFontSize * 1.2);
  margin-left: microMargin;
  position: absolute;
  left: microMargin;
}

.etc__text {
  display: block;
  width: 100%;
  margin: auto;
  color: colorWhite;
}
