@value colorHeader, colorPopupShadow, colorWhite, colorBlack, colorAuthModal, colorAuthModalFont from "../../common/colors.css";
@value largeMargin, mediumMargin, smallMargin, microMargin,smallFontSize from "../../common/size.css";

.header {
  position: sticky;
  width: 100%;
  background-color: colorHeader;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: mediumMargin;

  font-size: smallFontSize;
}

.button {
  outline: 0;
  border: 0;
  background-color: transparent;
  margin-right: smallMargin;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  padding: 0;
}

.authIcon {
  font-size: calc(smallFontSize * 1.2);
  transition: transform 200ms ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.list {
  position: absolute;
  right: 2.2rem;
  top: 1.8rem;
  display: flex;
  flex-direction: column;
  width: 9rem;
  padding: 0;
  box-shadow: colorPopupShadow;
  border-radius: microMargin 0 microMargin microMargin;
}

.setting {
  background-color: colorAuthModal;
  color: colorAuthModalFont;
  font-weight: bold;
  padding: microMargin;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.setting:first-child {
  border-bottom: 1px dotted colorAuthModalFont;
  border-radius: microMargin 0 0 0;
}

.setting:last-child {
  border-radius: 0 0 microMargin microMargin;
}

.setting:hover {
  opacity: 0.6;
}
