@value colorHeader, colorHeaderHover from "../../common/colors.css";
@value largeMargin, mediumMargin, smallMargin, microMargin,smallFontSize from "../../common/size.css";

.header {
  position: sticky;
  width: 100%;
  background-color: colorHeader;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: mediumMargin;

  font-size: smallFontSize;
}

.button {
  outline: 0;
  border: 0;
  background-color: transparent;
  margin-right: calc(mediumMargin * 1.1);
  cursor: pointer;
}

.authIcon {
  font-size: calc(smallFontSize * 1.2);
  transition: transform 200ms ease-in-out;
}

.button:hover .authIcon {
  transform: scale(1.1);
}

.setting {
  outline: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: microMargin;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.setting:hover {
  transform: translateY(-50%) scale(1.1);
}
