@value colorWhite, colorShadow from "./common/colors.css";

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  max-width: 600px;
  height: 100vh;
  /* overflow-y: hidden; */
  margin: auto;
  background-color: colorWhite;
  box-shadow: colorShadow;
  font-family: "suncheonR", "suncheonB";
  position: relative;
}
