@value colorWhite, colorShadow from "common/colors.css";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* 모바일에서 클릭시 파란배경 없애기 */
}

.app {
  width: 100%;
  max-width: 600px;
  height: 100vh;
  margin: auto;
  background-color: colorWhite;
  box-shadow: colorShadow;
  font-family: "suncheonR", "suncheonB";
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; */
}

.app::-webkit-scrollbar {
  /* display: none; */
}
